h1,
h2,
h3,
h4,
h5,
body {
  font-family: "Lato", sans-serif;
}

.searchlabel {
  color: white;
}

.top {
  width: 100%;
}

.top-bar,
.top-bar ul {
  background-color: #FAEBD7;
  background-image: url(../img/texturetastic_gray.png);
}

a {
  width: inherit;
}

.logo {
  width: 50px;
  height: 50px;
}

.tagline {
  display: inline;
  display: inline-block;
  height: 100%;
  width: auto;
  padding: 30px;
  /*background-color: black;*/
  color: white;
}

.username-wrapper,
.password-wrapper,
.submitwrap
 {
  display: inline-block;
}

#username,
#password {
  border-radius: 50px;
}

h4, h3 {
  display: inline;
}

.greybox {
  display: inline-block;
  background-color: grey;
  border-radius: 0px 10px 10px 0px;
}

h5 {
  padding: 0;
  margin: 0;
}

.fresh {
  display: inline-block;
  background-color: salmon;
  border-radius: 5px;
  margin-left: 50px;
  margin-top:0;
}

body {
  background-color: black;
  background-image: url(../img/ep_naturalblack.png);
}

.menu .menu-text {
    font-family: 'Lilita One', cursive;
    /*padding: 0.7rem 1rem;*/
    /*margin: 0 1rem;*/
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 2em;
    font-weight: none;
    line-height: 1;
    /*color: #F7F7F6;*/
    color: white;
    font-style: italic;
    text-decoration: underline;
    background-color: none;
    border-radius: 10px;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

.chasing {
  color: #3A3A36;
}

.g {
  color: #3A3A36;
}

.sheep {
  color: #3A3A36;
}

.tagline {
  float: left;
  padding-left: 0;
  padding-top: 0;
}

.button {
  border-radius: 5px;
  /*background: grey;*/
}


.circle {
  border-radius: 40%;
  width: 100px;
  height: 100px;
  background-color: white;
  display: inline-block;
  /*border: 1px dashed white;*/
}



/*-------------------NAV BUTTONS------------------------------------*/

.dashboard-nav-card {
  /*background: #1779ba;*/
  background: black;
  border-radius: 10px;
  color: #fefefe;
  min-height: 100px;
  padding: 2rem;
  position: relative;
  text-align: right;
  width: 250px;
  float: right;
  top: 0;
}

.dashboard-nav-card:hover .dashboard-nav-card-title,
.dashboard-nav-card:hover .dashboard-nav-card-icon {
  color: #1779ba;
}

.dashboard-nav-card:hover .dashboard-nav-card-icon {
  opacity: 1;
  transition: all 0.2s ease;
}


.dashboard-nav-card-icon {
  font-size: 1.25rem;
  left: 1rem;
  opacity: 1;
  position: absolute;
  top: 1rem;
  transition: all 0.2s ease;
  width: auto;
  color: white;
}

.dashboard-nav-card-title {
  position: absolute;
  right: 1rem;
  text-align: right;
  font-family: 'Lilita One', cursive;
}

.searchwrapper {
  margin: 5px;
}

footer {
  background-color: grey;
  height: 100px;
  width: 100%;
  display: inline-block;
}

.navcontain {
  float: right;
  height: 100%;
  padding: 7px;
  margin: auto 0;
}

/*-------------ARTICLE CSS-----------------------*/



.news-card-tag {
  margin-bottom: 0.5rem;
}

.news-card-tag .label {
  border-radius: 0.125rem;
  background-color: grey;
  color: white;
  padding: 10px;
}

.news-card-tag .label a {
  background-color: inherit;
  color: inherit;
}

.news-card-tag .label:hover, .news-card-tag .label:focus {
  background-color: #14679e;
}

.news-card-tag .label:hover a, .news-card-tag .label:focus a {
  background-color: inherit;
  color: inherit;
}

.news-card {
  background-color: #FAEBD7;
  font-weight: 400;
  margin-bottom: 1.6rem;
  border-radius: 0.125rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.news-card .card-section {
  background-color: inherit;
}

.news-card .card-section .news-card-date {
  font-size: 1em;
  color: #8a8a8a;
}

.news-card .card-section .news-card-article {
  background-color: inherit;
}

.news-card .card-section .news-card-article .news-card-title {
  line-height: 1.3;
  font-weight: bold;
}

.news-card .card-section .news-card-article .news-card-title a {
  text-decoration: none;
  color: #8a8a8a;
  transition: color 0.5s ease;
}

.news-card .card-section .news-card-article .news-card-title a:hover {
  color: #1779ba;
}

.news-card .card-section .news-card-article .news-card-description {
  color: #8a8a8a;
}

.news-card .card-section .news-card-author {
  overflow: hidden;
  padding-bottom: 1.6rem;
}

.news-card .card-section .news-card-author .news-card-author-image {
  display: inline-block;
  vertical-align: middle;
}

.news-card .card-section .news-card-author .news-card-author-image img {
  border-radius: 50%;
  margin-right: 0.6em;
}

.news-card .card-section .news-card-author .news-card-author-name {
  display: inline-block;
  vertical-align: middle;
}



/*-------------search bar---------------------*/


.input-group-rounded .input-group-field {
  border-radius: 5000px 0 0 5000px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 5000px 5000px 0;
  font-size: 0.8rem;
}

.articlecontain {
  float: left;
}

/*-----------------------social media--------------------------------*/

.social-links {
  background: #1d92cf;
  padding: 2rem 0 1rem;
  border-radius: 10px;
}

.social-links a {
  color: white;
  font-size: 1.2rem;
}


.social-links i.fa {
  font-size: 1.4rem;
  padding-right: 0.8rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .social-links {
    padding: 2rem 0;
  }
  .social-links i.fa {
    font-size: 2rem;
    display: block;
    padding-right: 0;
    padding-bottom: 0.5rem;
  }
  .social-links a {
    font-weight: bold;
  }
  .social-links .columns {
    margin: 1rem 0;
  }
  .social-links .mobile-stack {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.articlepics {
  width: 950px;
}